#boardContainer {
    width: 490px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#board {
    border: 5px solid #999999;
    position: relative;
    z-index: 0;
    margin-top: 45px;
    height: 480px;
}

#board .checkersSquare {
    height: 60px;
    width: 60px;
    float: left;
}

#board .selected {
    background-color: #074F7F;
    -webkit-box-shadow: 0 0 10px 7px #5aade6;
}

.board_row:nth-child(odd) .checkersSquare:nth-child(odd),
.board_row:nth-child(even) .checkersSquare:nth-child(even) {
  background: -moz-linear-gradient(center top, #eeeeee, #ffffff) repeat scroll 0 0 transparent;
  /* background: -webkit-gradient(linear, center bottom, center top, from(#ffffff), to(#eeeeee)); */
  background-color: white;
}

.board_row:nth-child(even) .checkersSquare:nth-child(odd),
.board_row:nth-child(odd) .checkersSquare:nth-child(even) {
  background: -moz-linear-gradient(center top, #222222, #333333) repeat scroll 0 0 transparent;
  /* background: -webkit-gradient(linear, center bottom, center top, from(#333333), to(#222222)); */
  background-color: black;
}

.redPiece,
.whitePiece {
  background-size: cover;
}

.redPiece {
  background-image: url(../imagenes/red-piece.png);
}

.whitePiece {
  background-image: url(../imagenes/white-piece.png);
}